*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.bannerCard {
    position: relative;
    text-align: center;
}

.imageContainer {
    position: relative;
    display: inline-block;
}

.imageContainer img {
    max-width: 100%;
    height: auto;
    display: block;
}

.gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.bannerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
}

.bannerText h2 {
    font-size: 60px;
    font-weight: 800;
}

.bannerText h3 {
    font-size: 32px;
    font-weight: 400;
}

#dealSection {
    margin-top: 120px;
    text-align: center;
}
#dealSection h1 {
    font-size: 88px;
    font-weight: 700;
}
#dealSection h2 {
    margin-top: -10px;
    font-size: 48px;
    font-weight: 700;
}
#dealSection h3 {
    font-size: 24px;
    font-weight: 500;
}
#dealSection img {
    margin-top: 48px;
}

.crimsonRed{
    color: rgb(255, 000, 000);
}

/* Greet Section */

.greetCard {
    position: relative;
    text-align: center;
    margin-top: 120px;
}
.greetImageContainer {
    position: relative;
    display: inline-block;
}

.greetImageContainer img {
    max-width: 100%;
    height: auto;
    display: block;
}
.greetGradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.greetBannerText {
    text-align: left;
    position: absolute;
    /* margin-right: 80px; */
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
}

.greetBannerText h1 {
    font-size: 64px;
    font-weight: 900;
}

.greetBannerText p {
    font-size: 18px;
    font-weight: 400;
}

.greetBannerText .btn {
    font-size: 20px;
    font-weight: 700;
    background: none;
    border: none;
    color: #fff;
    margin-top: 48px;
    margin-left: 32px;
}
.greetBannerText .btn:hover {
    color: #ff8000; /* Set text color */
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

/* location section */

.locationCard {
    position: relative;
    text-align: center;
    margin-top: 120px;
}

.locationText {
    text-align: center;
    position: absolute;
    /* margin-right: 80px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
}

.locationText h3 {
    font-size: 32px;
    font-weight: 600;
    color: black;
}

.locationText button {
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 32px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.locationText button:hover {
    background-color: rgb(218, 128, 106);
}

/* Coming Soon Section */

.comingSoonImg {
    border: 15px solid red;
    padding: 45px;
    border-radius: 50%;
}

.coming-soon {
    margin-top: 120px;
    width: 90%;
    height: auto;
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.text-div {
    margin-top: 104px;
    width: 25%;
    margin-left: 170px;
}
.text-1{
    font-size: 24px;
    font-weight: 500;
    margin-top: -10px;
}
.text-2{
    font-size: 48px;
    font-weight: 900;
}
.text-3 {
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
    margin-top: -20px;
}
.soon2024 {
    width: 20%;
    margin-top: 112px;
}
.newYearImg{
    margin-top: 72px;
}
.holiday{
    text-align: center;
    width: 70%;
    margin: 120px auto 0;
}
.holiday h3 {
    font-size: 24px;
    font-weight: 500;
}
.holiday h2 {
    margin-top: -10px;
    font-size: 68px;
    font-weight: 900;
}
.holiday p {
    font-size: 20px;
    font-weight: 500;
    width: 70%;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(7, 2, 17, 0.6);
}

.holidayImg {
    width: 80%;
    height: auto;
    margin: -250px auto 0 auto;
}
.img-1 {
    width: 50%;
    position: relative;
    top: 530px;
    left: 50px;
    bottom: 84px;
}

.img-2 {
    width: 100%;
    height: 230px;
}
.img-3 {
    position: relative;
    left: 145px;
    top: 310px;
    width: 40%;
}
.img-4 {
    position: relative;
    left: 720px;
    bottom: 40px;
}

/* Portfolio Section */
.portfolioSection {
    margin: 120px auto auto;
    width: 80%;

}

.portfolioSection h3 {
    font-size: 24px;
    font-weight: 500;
}
.portfolioSection h2 {
    margin-top: -10px;
    font-size: 48px;
    font-weight: 900;
}
.portfolioSection p {
    font-size: 20px;
    font-weight: 400;
    margin-top: -20px;
    color: rgba(7, 2, 17, 0.6);
}
.portfolioGallery {
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

/* news Letter Section */
.newsLetterDiv {
    text-align: center;
    margin: 120px auto auto auto;
    width: 80%;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.newsLetterDiv img {
    margin: 80px 212px;
}
.newsLetterDiv h2 {
    font-size: 48px;
    font-weight: 900;
    margin-top: -60px;
}
.newsLetterDiv p {
    font-size: 20px;
    font-weight: 400;
    margin-top: -20px;
    color: rgba(7, 2, 17, 0.6);
} 

.userInput {
    margin-top: 48px;
    padding-bottom: 80px;
}
.userInput input {
    border-radius: 40px 0 0 40px;
    width: 350px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    background: #fff;
    padding: 25px 0px 25px 25px;
}
.userInput button {
    width: 180px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 0px 50px 50px 0px;
    background: rgb(255, 0, 0);
    padding: 25px 0px 25px 0px;
}

.userInput button:hover {
    color: black;
    background: #e0b4b5 ;
    transition: color 0.3s;
    transition: background 0.3s;
}

.footerSection {
    background: rgb(7, 2, 17);
    width: 100%;
    height: auto;
    margin-top: 120px;
    
}
.address {
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
}

.address p {
    font-size: 24px;
    font-weight: 500;
}

#phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    padding: 0;
}
#website {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -45px;
    padding: 0;
}
#street{
    margin-top: 120px;
}

#phone img{
    margin-right: 12px;
}
#website img {
    margin-right: 12px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 60px auto;
}
.footerSection hr {
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.15);
}
.copyrightSection {
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 80%;
    margin: auto;
}
.copyrightSection p {
    margin-top: 50px;
    margin-bottom: 120px;
}